
.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 360px;
    left: 180px;
  }
  
  .baloon {
    position: absolute;
    left: 750px;
  
  }
  
  .speach {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 770px;
    top: 125px;
    z-index: 1;
  }
  
  .bowser {
    width: 500px;
    position: absolute;
    left: 1000px;
  }